.header {
  padding-top: 50px;
  background-color: #FBF9FB;
}
.header-content {
  display: flex;
  align-items: center;
  gap: 64px;
}
.header-left img {
  background: none;
  width: 346px;
  object-fit: cover;
}
.header-between__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #2B2846;
}
.header-right img {
  object-fit: cover;
}

@media screen and (max-width: 1280px) {
  .header .container {
    padding: 0;
  }
  .header-content {
    gap: 32px;
  }
  .header-right img {
    width: 350px;
  }
}
@media screen and (max-width: 1024px) {
  .header-content {
    gap: 16px;
  }
  .header-left img {
    width: 208px;
    height: 280px;
  }
  .header-right img {
    width: 260px;
    height: 260px;
  }
}
@media screen and (max-width: 800px) {
  .header-content {
    gap: 10px;
    flex-direction: column;
  }
  .header-left img {
    width: 360px;
  }
  .header-between {
    width: 360px;
    text-align: center;
  }
  .header-right img {
    width: 360px;
  }
}
@media screen and (max-width: 390px) {
  .header {
    padding-top: 0;
  }
  .header-content {
    padding: 0;
  }
  .header-left img {
    width: 320px;
  }
  .header-between {
    width: 320px;
  }
  .header-right img {
    width: 320px;
  }
}
.section {
  padding-top: 64px;
  background-color: #FBF9FB;
}
.section-content {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.section-card {
  border-radius: 8px;
  background-color: white;
  padding: 16px 40px;
  max-width: 245px;
}
.section-card__text {
  height: 48px;
  font-family: Jost;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #2B2846;
}
.section-card__title {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 600;
  line-height: 17.34px;
  text-align: center;
  color: #CC9D69;
}
.section-card__btn {
  padding: 4px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.23px;
  color: #CC9D69;
  border: 2px solid #CC9D69;
  border-radius: 48px;
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .section {
    padding-top: 23px;
  }
  .section-content {
    padding-top: 32px;
  }
  .section-card {
    max-width: 180px;
    padding: 16px 30px;
  }
}
@media screen and (max-width: 1024px) {
  .section-content {
    gap: 16px;
  }
  .section-card {
    padding: 16px 32px;
  }
}
@media screen and (max-width: 900px) {
  .section-content {
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding: 0;
  }
  .section-card {
    max-width: 300px;
    padding: 40px 75px;
  }
}
.second {
  background-color: #FBF9FB;
}
.second-content {
  text-align: center;
  display: flex;
  padding-top: 60px;
  gap: 16px;
}
.second-card {
  background-color: white;
  padding: 16px 40px;
  border-radius: 8px;
  max-width: 245px;
}
.second-card__text {
  height: 48px;
  font-family: Jost;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #2B2846;
}
.second-card__title {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 600;
  line-height: 17.34px;
  text-align: center;
  color: #CC9D69;
}
.second-card__btn {
  padding: 4px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.23px;
  color: #CC9D69;
  border: 2px solid #CC9D69;
  border-radius: 48px;
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .second {
    padding-top: 23px;
  }
  .second-content {
    padding-top: 32px;
  }
  .second-card {
    max-width: 200px;
  }
}
@media screen and (max-width: 1024px) {
  .second-card {
    padding: 16px 32px;
    max-width: 180px;
  }
}
@media screen and (max-width: 900px) {
  .second {
    padding: 0;
  }
  .second-content {
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding: 0;
  }
  .second-card {
    max-width: 300px;
    padding: 40px 60px;
  }
}
@media screen and (max-width: 390px) {
  .second {
    display: none;
  }
}

/*# sourceMappingURL=category.css.map */
