@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Helvetica:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #2B2846;
  background-color: #F3F2F3;
}

button, input {
  background: none;
  border: none;
  outline: none;
}
button:focus, input:focus {
  outline: none;
}

ul, li {
  list-style: none;
}

a {
  display: inline;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

.container {
  max-width: 1344px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.btn {
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  background-image: linear-gradient(92.1deg, #ffe2c1 3.88%, #ffc481 26.11%, #ffcc91 92.18%);
  border-radius: 24px;
  cursor: pointer;
}

.nav {
  border-bottom: 5px solid #F7D5AE;
  position: relative;
}
.nav::after {
  content: "";
  position: absolute;
  width: 100%;
  display: inline-block;
  bottom: 8px;
  left: 0;
  border-bottom: 5px solid #F7D5AE;
}
.nav-content {
  display: flex;
  align-items: center;
  gap: 47px;
  padding: 36px 0;
}
.nav-logo {
  padding: 0 0;
}
.nav-link {
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav-link__item {
  font-size: 16px;
  text-transform: uppercase;
}
.nav-burger {
  cursor: pointer;
  max-width: 30px;
  display: none;
}
.nav-burger img {
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .nav .container {
    padding-left: 36px;
    padding-right: 36px;
  }
  .nav-content {
    gap: 30px;
    flex-wrap: wrap;
    padding: 36px 0;
  }
  .nav-logo {
    padding: 0 0 16px 0;
  }
}
@media screen and (max-width: 1024px) {
  .nav-link__item {
    font-size: 16px;
  }
}
@media screen and (max-width: 790px) {
  .nav-content {
    gap: 0;
    flex-wrap: wrap;
    padding: 36px 0;
  }
  .nav-logo {
    padding: 0 0 16px 0;
  }
}
@media screen and (max-width: 805px) {
  .nav-logo {
    padding: 0;
  }
  .nav-content {
    justify-content: space-between;
  }
  .nav-link {
    display: none;
  }
  .nav-burger {
    display: block;
  }
}
@media screen and (max-width: 375px) {
  .nav .container {
    padding: 0 20px;
  }
  .nav-content {
    padding: 20px 0;
  }
}
.hero {
  position: relative;
}
.hero-content {
  padding-top: 78px;
  padding-bottom: 65px;
  display: flex;
  align-items: center;
}
.hero-content__left {
  max-width: 47%;
}
.hero-content__left h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 42.66px;
  padding-bottom: 32px;
}
.hero-content__text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 32px;
}
.hero-content__text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.08px;
}
.hero-content__btn {
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  background-image: linear-gradient(92.1deg, #ffe2c1 3.88%, #ffc481 26.11%, #ffcc91 92.18%);
  border-radius: 24px;
  cursor: pointer;
}
.hero-content__right {
  max-width: 53%;
}
.hero-content__right img {
  position: absolute;
  right: 0;
  top: -125px;
  width: 32%;
}

@media screen and (max-width: 1280px) {
  .hero .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .hero-content__right {
    overflow: hidden;
    position: absolute;
    max-width: 40%;
    right: 0px;
    top: -138px;
  }
  .hero-content__right img {
    position: static;
    object-fit: cover;
  }
}
@media screen and (max-width: 958px) {
  .hero-content {
    flex-direction: column-reverse;
    padding-top: 0px;
    padding-bottom: 36px;
  }
  .hero-content__right {
    position: static;
    max-width: 100%;
  }
  .hero-content__right img {
    width: 100%;
  }
  .hero-content__left {
    max-width: 100%;
  }
  .hero-content__left h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
  }
  .hero-content__text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
  .hero-content__btn {
    display: block;
    margin: auto;
  }
}
.section-title {
  padding-top: 64px;
  padding-bottom: 64px;
}
.section-title__line {
  height: 11px;
  border-top: 3px solid #F7D5AE;
  border-bottom: 3px solid #F7D5AE;
  position: relative;
}
.section-title__line::after {
  content: "Умная эмаль";
  font-family: Playfair Display;
  font-size: 32px;
  font-weight: bold;
  padding: 0 32px;
  background: #F3F2F3;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.mini-catalog-content {
  padding: 0 76.5px;
  display: flex;
  gap: 48.5px;
  justify-content: space-between;
  align-items: start;
  background-color: #F3F2F3;
}
.mini-catalog__img {
  flex: 1;
}
.mini-catalog__img img {
  max-width: 100%;
}
.mini-catalog__text {
  flex: 3;
  padding-top: 26px;
  padding-bottom: 26px;
}
.mini-catalog__text .header-title {
  font-family: Playfair Display;
  font-size: 30px;
  font-weight: 700;
  line-height: 39.99px;
  padding-bottom: 22px;
}
.mini-catalog__text .subtext {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.08px;
  padding-bottom: 26px;
}
.mini-catalog__flagman {
  display: flex;
  gap: 42px;
  max-width: 731px;
  align-items: flex-start;
  text-align: center;
}

.flagman-card__icon {
  padding-bottom: 20px;
}
.flagman-card__text {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.08px;
}

@media screen and (max-width: 1330px) {
  .mini-catalog .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .mini-catalog-content {
    padding: 0;
  }
  .mini-catalog__img {
    flex: 1;
  }
  .mini-catalog__text {
    flex: 1;
  }
}
@media screen and (max-width: 850px) {
  .mini-catalog-content {
    flex-direction: column;
    align-items: center;
  }
  .mini-catalog__img {
    max-width: 100%;
  }
  .mini-catalog__text {
    max-width: 100%;
  }
  .mini-catalog__text .header-title {
    font-family: Playfair Display;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
  }
  .mini-catalog__text .subtext {
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
  .mini-catalog__flagman {
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center;
  }
  .flagman-card {
    width: 100%;
  }
  .flagman-card__icon {
    max-width: 100%;
  }
  .flagman-card__text {
    max-width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .mini-catalog__flagman {
    gap: 6px;
    align-items: start;
  }
  .flagman-card {
    max-width: 45%;
    padding-bottom: 32px;
  }
  .flagman-card__text {
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
  }
}
.section-title {
  padding-top: 64px;
  padding-bottom: 64px;
}
.section-title__line2 {
  height: 11px;
  border-top: 3px solid #F7D5AE;
  border-bottom: 3px solid #F7D5AE;
}

.mini-product__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 74px;
}
.mini-product__left {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 32px;
}
.mini-product__card {
  padding: 16px 26.67px;
  text-align: center;
  background-color: #FFFFFF;
  max-width: 221.33px;
}
.mini-product__text {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.08px;
  padding-bottom: 16px;
}
.mini-product__btn {
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  background-image: linear-gradient(92.1deg, #ffe2c1 3.88%, #ffc481 26.11%, #ffcc91 92.18%);
  border-radius: 24px;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  padding-top: 8px;
}

.item-card {
  border-radius: 8px;
}
.item-card__img {
  background: none;
  height: 274px;
  width: 136px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-card__title {
  background: none;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.56px;
  padding-top: 16px;
  padding-bottom: 4px;
  color: #CC9D69;
}
.item-card__text {
  background: none;
  font-family: Helvetica;
  font-size: 13px;
  font-weight: 400;
  line-height: 22.08px;
  padding-bottom: 17px;
}
.item-card__btn {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.32px;
  padding: 4px 12px;
  color: #CC9D69;
  border: 2px solid #CC9D69;
  border-radius: 48px;
  cursor: pointer;
}

@media screen and (max-width: 1026px) {
  .mini-product .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .mini-product__content {
    flex-direction: column;
  }
  .mini-product__left {
    width: 100%;
    align-items: center;
  }
  .mini-product__card {
    max-width: 400px;
  }
  .item-card__img {
    width: 100%;
  }
}
@media screen and (max-width: 760px) {
  .mini-product__left {
    overflow-x: auto;
    scrollbar-color: #F7D5AE transparent;
    scrollbar-width: thin;
  }
}
.section-title {
  padding-top: 64px;
  padding-bottom: 64px;
}
.section-title__line3 {
  height: 11px;
  border-top: 3px solid #F7D5AE;
  border-bottom: 3px solid #F7D5AE;
  position: relative;
}
.section-title__line3::after {
  content: "Каталог";
  font-family: Playfair Display;
  font-size: 32px;
  font-weight: bold;
  padding: 0 32px;
  background: #F3F2F3;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.section-title__line4 {
  height: 11px;
  border-top: 3px solid #F7D5AE;
  border-bottom: 3px solid #F7D5AE;
  position: relative;
}
.section-title__line4::after {
  content: "Где купить";
  font-family: Playfair Display;
  font-size: 32px;
  font-weight: bold;
  padding: 0 32px;
  background: #F3F2F3;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.mini-category {
  text-align: center;
  padding-bottom: 64px;
}
.mini-category__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 28.8px;
}
.mini-category__content_card {
  max-width: 14.5%;
}
.mini-category__img {
  width: 100%;
  height: 168px;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}
.mini-category__img img {
  width: 192%;
  object-fit: cover;
}
.mini-category__btn {
  font-family: Helvetica;
  width: 100%;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  padding-top: 8px;
  padding-bottom: 12px;
  background: linear-gradient(92.1deg, #ffe2c1 3.88%, #ffc481 26.11%, #ffcc91 92.18%);
  border-radius: 0 0 8px 8px;
}

@media screen and (max-width: 1280px) {
  .mini-category .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .mini-category__content {
    gap: 32px;
  }
  .mini-category__content_card {
    max-width: 31%;
  }
  .mini-category__img {
    height: auto;
  }
  .mini-category__img img {
    width: 100%;
  }
}
@media screen and (max-width: 971px) {
  .mini-category__content_card {
    max-width: 30%;
  }
}
@media screen and (max-width: 698px) {
  .mini-category__content {
    gap: 20px;
  }
  .mini-category__content_card {
    max-width: 44%;
  }
  .mini-category__img {
    height: 116px;
  }
  .mini-category__img img {
    width: 210%;
  }
  .mini-category__btn {
    font-family: Jost;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 8px;
  }
}
.mini-where {
  padding-bottom: 64px;
}
.mini-where_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #F7D5AE;
  background-color: #EEEEEE;
  border-radius: 20px;
  gap: 16px;
}
.mini-where__left {
  flex: 2;
  overflow: hidden;
  border-radius: 20px;
  background-color: #EEEEEE;
}
.mini-where__left img {
  width: 100%;
  height: 433px;
  object-fit: cover;
  background: #EEEEEE;
}
.mini-where__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
  border-radius: 20px;
  background-color: #EEEEEE;
}
.mini-where__text {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.08px;
  background-color: #EEEEEE;
}
.mini-where__btn {
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  background-image: linear-gradient(92.1deg, #ffe2c1 3.88%, #ffc481 26.11%, #ffcc91 92.18%);
  border-radius: 24px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .mini-where__left img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .mini-where_content {
    flex-direction: column;
    padding: 10px 20px 30px 20px;
  }
  .mini-where__text {
    font-family: Jost;
    line-height: 20px;
  }
  .mini-where__btn {
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    background-image: linear-gradient(92.1deg, #ffe2c1 3.88%, #ffc481 26.11%, #ffcc91 92.18%);
    border-radius: 24px;
    cursor: pointer;
    display: inline-block;
    margin: auto;
    padding: 8px 24px 8px 24px;
  }
}
.footer {
  padding-top: 64px;
  padding-bottom: 66px;
  background-color: #2B2846;
}
.footer .container {
  background-color: #2B2846;
}
.footer-content {
  background-color: #2B2846;
}
.footer-content__bottom {
  padding-top: 32px;
  border-top: 1px solid #FFFFFF;
  background-color: #2B2846;
}
.footer-content__top {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 97px;
  background-color: #2B2846;
  padding-bottom: 32px;
}
.footer .top-left {
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-color: #2B2846;
  gap: 30px;
  flex: 1;
}
.footer .top-left .footer-content__menu {
  width: 30%;
}
.footer .top-right {
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-color: #2B2846;
  gap: 20px;
  flex: 1;
}
.footer-bottom_text {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.32px;
  background-color: #2B2846;
  color: white;
}
.footer .menu-map {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8px;
  background-color: #2B2846;
}
.footer .menu-map__item a {
  color: white;
  background-color: #2B2846;
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.12px;
}
.footer .footer-subs__email {
  background-color: #2B2846;
  display: flex;
}
.footer .subs-email_input {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  color: #BEBCC5;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 700;
  line-height: 22.08px;
  width: 206px;
  border: 1px solid #F7D5AE;
  border-radius: 4px 0 0 4px;
}
.footer .subs-email_btn {
  flex: 1;
  padding: 14px 16px;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 700;
  line-height: 22.08px;
  background-image: linear-gradient(92.1deg, #ffe2c1 3.88%, #ffc481 26.11%, #ffcc91 92.18%);
  border: 1px solid #F7D5AE;
  border-radius: 0 4px 4px 0;
}
.footer .contact-phone p {
  background-color: #2B2846;
  color: white;
  font-family: Helvetica;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.08px;
}
.footer .footer-title_section {
  background-color: #2B2846;
  color: #F7D5AE;
  font-family: Jost;
  font-size: 14px;
  font-weight: 600;
  line-height: 20.23px;
  padding-bottom: 16px;
  text-transform: uppercase;
}
.footer .social-icons {
  background-color: #2B2846;
}
.footer .social-icons img {
  background-color: #2B2846;
}

@media screen and (max-width: 1232px) {
  .footer-content__top {
    gap: 35.67px;
  }
  .footer .footer-content__menu {
    width: 80%;
  }
}
@media screen and (max-width: 1224px) {
  .top-right {
    flex-direction: column;
    width: 35%;
  }
  .footer-content__menu {
    width: 100%;
  }
}
@media screen and (max-width: 850px) {
  .top-left {
    flex-direction: column-reverse;
    width: 100%;
  }
  .top-right {
    width: 100%;
  }
  .footer-content__top {
    flex-direction: column;
  }
  .footer .subs-email_input {
    width: 50%;
    font-family: Jost;
    font-size: 16px;
    font-weight: 600;
    line-height: 23.12px;
  }
  .footer .subs-email_btn {
    width: 50%;
  }
  .social-icons img {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
