.section {
    background: #f3f2f3;
    padding-top: 118px;
    width: 100%;
    flex-wrap: wrap;
  }
  .section-hd {
    flex-wrap: wrap;
  }
  .img {
    padding: 53px 63px 27px 60px;
  }
  .section0 {
    background: #ffffff;
    padding: 32px;
    display: flex;
    justify-content: space-between;
  }
  .section-1 {
    text-align: center;
  }
  
  .section-3 {
    gap: 5px;
    display: flex;
  }
  .hi3 {
    color: #cc9d69;
  }
  .pi {
    padding: 2px 10px 4px 10px;
    gap: 10px;
    border-radius: 15px;
    background: #1b19a1;
    color: #ffffff;
  }
  .section-4 {
    gap: 32px;
    display: flex;
  }
  .section-5 {
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.12px;
    text-align: left;
  }
  .section-6 {
    font-family: Jost;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.23px;
    text-align: left;
  }
  
  @media screen and (max-width: 755px) {
    .section0 {
      flex-direction: column;
    }
  }
  
  .brand {
    padding-top: 60px;
    padding-bottom: 80px;
    background: #f3f2f3;
  }
  .brand-title {
    /* font-family: Clash Display; */
    font-size: 24px;
    font-weight: 400;
    line-height: 33.6px;
  
    padding-bottom: 51px;
  }
  .brand-content {
    display: flex;
    justify-content: space-between;
  }
  .brand-card {
    max-width: 160px;
    border: 1px solid rgba(249, 249, 249, 1);
    background: #ffffff;
    padding: 20px 20px 20px 20px;
    width: 330px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .brand-cardi {
    max-width: 160px;
    border: 1px solid rgba(249, 249, 249, 1);
    background: #ffffff;
    padding: 20px 20px 20px 20px;
    width: 330px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .brand-cardi1 {
    max-width: 160px;
    border: 1px solid rgba(249, 249, 249, 1);
    background: #ffffff;
    padding: 20px 20px 20px 20px;
    width: 330px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .brand-card__icon {
    padding-bottom: 16px;
  }
  .brand-cart__title {
    color: #cc9d69;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 8px;
  }
  .brand-cart__text {
    font-weight: 400;
    line-height: 24px;
  }
  .brand-button {
    padding: 5px;
    color: #cc9d69;
    border-radius: 48px;
    border: 1px solid #cc9d69;
    width: 96px;
  }
  
  @media screen and (max-width: 1350px) {
    .brand .container {
      padding: 0 24px;
    }
    .brand-card {
      padding-bottom: 36px;
    }
  }
  @media screen and (max-width: 1025px) {
    .brand-cardi {
      display: none;
    }
  }
  @media screen and (max-width: 865px) {
    .brand-cardi1 {
      display: none;
    }
  }
  @media screen and (max-width: 600px) {
    .brand-content {
      display: flex;
      overflow-x: scroll;
      gap: 5px;
      
    }
    .brand {
      padding-top: 48px;
      padding-bottom: 48px;
    }
    .brand-title {
      text-align: left;
    }
    .brand-card {
      max-width: 100%;
    }
  }