.page {
  background: rgb(243, 242, 243);
}

/* ======== section one ======== */
.section_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section_email {
  align-items: center;
}
.section_input {
  width: 434px;
  height: 50px;
  background: rgb(255, 255, 255);
  margin-top: 55px;
  padding: 20px;
}
.section_input2 {
  width: 434px;
  height: 50px;
  background: rgb(255, 255, 255);
  margin-top: 16px;
  padding: 20px;
}
.section_p {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.08px;
  text-align: left;
  color: rgb(43, 40, 70);
  margin-top: 14px;
}

.one_h2 {
  padding-top: 60px;
}
.one_p {
  padding-top: 10px;
}

@media screen and (max-width: 910px) {
  .section_box {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .section-email {
    width: 100%;
  }
  .section_input {
    width: 100%;
  }
  .section_input2 {
    width: 100%;
  }
}
@media screen and (max-width: 505px) {
  .section-title::after {
    font-family: Playfair Display;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
  }
}
.maps {
  margin-top: 93px;
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.map {
  width: 100%;
  height: 569px;
  border: 2px solid rgb(161, 35, 35);
}

.card-p {
  font-family: sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.card-p1 {
  padding-bottom: 8px;
}

.card-button {
  padding: 8px 16px;
  background-color: #FFCC90;
  border-radius: 50px;
  border: none;
  margin-left: 30px;
  margin-top: 16px;
  color: #2B2846;
  font-weight: bold;
}

.cards {
  width: 254px;
  height: 282px;
  position: absolute;
  left: 1035px;
  top: 701px;
  border: #BEBCC5;
  background-color: #fff;
}

.card {
  padding: 16px 35px;
}

.one {
  display: flex;
  justify-content: space-between;
  border-radius: 41px;
  width: 100%;
  height: 47px;
  background-color: #fff;
  align-items: center;
  margin-bottom: 16px;
}

.onee {
  display: flex;
  gap: 32px;
}

.catalog-p {
  font-family: sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.catalog-img {
  padding-left: 8px;
  margin-left: 8px;
}

.catalog-button {
  padding: 8px 16px;
  background-color: #FFCC90;
  border-radius: 50px;
  border: none;
  margin-right: 8px;
  color: #2B2846;
  font-weight: bold;
}

@media screen and (max-width: 1280px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .catalog {
    padding-top: 20px;
  }
}
@media screen and (max-width: 1106px) {
  .cards {
    width: 254px;
    height: 282px;
    position: absolute;
    left: 730px;
    top: 670px;
    border: #BEBCC5;
    background-color: #fff;
  }
}
@media screen and (max-width: 1024px) {
  .a,
  .d {
    flex-wrap: wrap;
  }
  .onee {
    gap: 10px;
  }
}
@media screen and (max-width: 1000px) {
  .maps {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .one {
    flex-wrap: wrap;
    height: 245px;
  }
  .onee {
    flex-wrap: wrap;
    padding-left: 40px;
  }
  .catalog-button {
    margin-left: 74px;
  }
  .catalog-img {
    width: 28px;
    height: 42px;
  }
  .b,
  .d {
    padding-left: 38px;
  }
}

/*# sourceMappingURL=where.css.map */
