.nav {
    border-bottom: 5px solid $gold;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        display: inline-block;
        bottom: 8px;
        left: 0;
        border-bottom: 5px solid $gold;
    }

    &-content {
        display: flex;
        align-items: center;
        gap: 47px;
        padding: 36px 0;
    }

    &-logo {
        padding: 0 0;
    }

    &-link {
        display: flex;
        align-items: center;
        gap: 30px;

        &__item {
            font-size: 16px;
            text-transform: uppercase;
        }
    }

    &-burger {
        cursor: pointer;
        max-width: 30px;
        display: none;

        img {
            width: 100%;
        }
    }

    // &-third{
    //     width: 400px;
    // }
}

@media screen and (max-width: 1280px) {
    .nav {

        .container {
            padding-left: 36px;
            padding-right: 36px;
        }

        &-content {
            gap: 30px;
            flex-wrap: wrap;
            padding: 36px 0;
        }

        &-logo {
            padding: 0 0 16px 0;
        }


    }
}

@media screen and (max-width: 1024px) {
    .nav {
        &-link {
            &__item {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 790px) {
    .nav {
        &-content {
            gap: 0;
            flex-wrap: wrap;
            padding: 36px 0;
        }

        &-logo {
            padding: 0 0 16px 0;
        }
    }
}

@media screen and (max-width: 805px) {
    .nav {

        &-logo {
            padding: 0;
        }

        &-content {
            justify-content: space-between;
        }

        &-link {
            display: none;
        }

        &-burger {
            display: block;
        }
    }
}

@media screen and (max-width: 375px) {
    .nav {

        .container {
            padding: 0 20px;
        }

        &-content {
          padding: 20px 0;
        }
    }
}