*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: $textColor;
    background-color: $bgGrey;
}

button, input {
    background: none;
    border: none;
    outline: none;

    &:focus {
        outline: none;
    }
}

ul, li {
    list-style: none;
}

a {
    display: inline;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

.container{
    max-width: 1344px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}