.mini-category {

    &__content {
        

        &_card {
            max-width: 30%;
        }

    }

    &__img {

        img {
            width: 100%;

            object-fit: cover;


        }
    }


}