.header {
    padding-top: 50px;
    background-color: #FBF9FB;

    &-content {
        display: flex;
        align-items: center;
        gap: 64px;
    }

    &-left img {
        background: none;
        width: 346px;
        object-fit: cover;
    }

    &-between {

        &__text {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            color: #2B2846;
        }
    }

    &-right img {
        object-fit: cover;
    }
}

@media screen and (max-width:1280px) {
    .header {
        .container {
            padding: 0;
        }

        &-content {
            gap: 32px;
        }

        &-right img {
            width: 350px;
        }
    }
}

@media screen and (max-width:1024px) {
    .header {
        &-content {
            gap: 16px;
        }

        &-left img {
            width: 208px;
            height: 280px;
        }

        &-right img {
            width: 260px;
            height: 260px;
        }
    }
}

@media screen and (max-width:800px) {
    .header {
        &-content {
            gap: 10px;
            flex-direction: column;
        }

        &-left img {
            width: 360px;
        }

        &-between {
            width: 360px;
            text-align: center;
        }

        &-right img {
            width: 360px;
        }
    }
}

@media screen and (max-width:390px) {
    .header {
        padding-top: 0;

        &-content {
            padding: 0;
        }

        &-left img {
            width: 320px;
        }

        &-between {
            width: 320px;
        }

        &-right img {
            width: 320px;
        }
    }
}

.section {
    padding-top: 64px;
    background-color: #FBF9FB;

    &-content {
        display: flex;
        text-align: center;
        justify-content: space-between;
    }


    &-card {
        border-radius: 8px;
        background-color: white;
        padding: 16px 40px;
        max-width: 245px;

        &__text {
            height: 48px;
            font-family: Jost;
            margin-bottom: 20px;
            font-size: 16px;
            font-weight: 500;
            line-height: 16px;
            color: #2B2846;
        }

        &__title {
            margin-bottom: 4px;
            font-size: 12px;
            font-weight: 600;
            line-height: 17.34px;
            text-align: center;
            color: #CC9D69;
        }

        &__btn {
            padding: 4px 12px;
            font-size: 14px;
            font-weight: 400;
            line-height: 20.23px;
            color: #CC9D69;
            border: 2px solid #CC9D69;
            border-radius: 48px;
            text-align: center;
            margin: 0 auto;
        }
    }

}

@media screen and (max-width:1280px) {
    .section {
        padding-top: 23px;

        &-content {
            padding-top: 32px;
        }

        &-card {
            max-width: 180px;
            padding: 16px 30px;
        }
    }
}

@media screen and (max-width:1024px) {
    .section {

        &-content {
            gap: 16px;
        }

        &-card {
            padding: 16px 32px;
        }
    }
}

@media screen and (max-width:900px) {
    .section {
        &-content {
            align-items: center;
            flex-direction: column;
            gap: 16px;
            padding: 0;
        }

        &-card {
            max-width: 300px;
            padding: 40px 75px;
        }
    }
}

.second {
    background-color: #FBF9FB;

    &-content {
        text-align: center;
        display: flex;
        padding-top: 60px;
        gap: 16px;
    }

    &-card {
        background-color: white;
        padding: 16px 40px;
        border-radius: 8px;
        max-width: 245px;

        &__text {
            height: 48px;
            font-family: Jost;
            margin-bottom: 20px;
            font-size: 16px;
            font-weight: 500;
            line-height: 16px;
            color: #2B2846;
        }

        &__title {
            margin-bottom: 4px;
            font-size: 12px;
            font-weight: 600;
            line-height: 17.34px;
            text-align: center;
            color: #CC9D69;
        }

        &__btn {
            padding: 4px 12px;
            font-size: 14px;
            font-weight: 400;
            line-height: 20.23px;
            color: #CC9D69;
            border: 2px solid #CC9D69;
            border-radius: 48px;
            text-align: center;
            margin: 0 auto;
        }
    }
}

@media screen and (max-width:1280px) {
    .second {
        padding-top: 23px;

        &-content {
            padding-top: 32px;
        }

        &-card {
            max-width: 200px;
        }
    }
}

@media screen and (max-width:1024px) {
    .second {
        &-card {
            padding: 16px 32px;
            max-width: 180px;
        }
    }
}

@media screen and (max-width:900px) {
    .second {
        padding: 0;

        &-content {
            align-items: center;
            flex-direction: column;
            gap: 16px;
            padding: 0;
        }

        &-card {
            max-width: 300px;
            padding: 40px 60px;
        }

    }
}
@media screen and (max-width:390px) {
    .second{
        display: none;
    }
}