.hero {
    position: relative;

    &-content {
        padding-top: 78px;
        padding-bottom: 65px;
        display: flex;
        align-items: center;

        &__left {
            max-width: 47%;

            h1 {
                // font-family: Playfair Display;
                font-size: 32px;
                font-weight: 700;
                line-height: 42.66px;
                padding-bottom: 32px;
            }
        }

        &__text {
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding-bottom: 32px;

            p {
                // font-family: Helvetica;
                font-size: 16px;
                font-weight: 400;
                line-height: 22.08px;
            }
        }

        &__btn {
            @include btn();
        }

        &__right {
            max-width: 53%;


            img {
                position: absolute;
                right: 0;
                top: -125px;
                width: 32%;
            }
        }

    }
}

@media screen and (max-width: 1280px) {
    .hero {

        .container {
            padding-left: 20px;
            padding-right: 20px;
        }

        &-content {
            &__right {
                overflow: hidden;
                position: absolute;
                max-width: 40%;
                right: 0px;
                top: -138px;

                img {
                    position: static;
                    object-fit: cover;

                }
            }
        }
    }
}

@media screen and (max-width: 958px) {

    .hero {

        &-content {
            flex-direction: column-reverse;
            padding-top: 0px;
            padding-bottom: 36px;


            &__right {
                position: static;
                max-width: 100%;

                img {

                    width: 100%;
                }

            }

            &__left {
                max-width: 100%;

                h1 {
                    // font-family: Playfair Display;
                    font-size: 28px;
                    font-weight: 700;
                    line-height: 32px;
                }
            }

            &__text {

                p {
                    // font-family: Jost;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20px;
                }
            }

            &__btn {
                display: block;
                margin: auto;
            }

        }
    }
}


// ======== hero

.section-title {
    padding-top: 64px;
    padding-bottom: 64px;

    &__line {
        @include title("Умная эмаль");
    }
}

// ======== line title

.mini-catalog {

    &-content {
        padding: 0 76.5px;
        display: flex;
        gap: 48.5px;
        justify-content: space-between;
        align-items: start;
        background-color: #F3F2F3;

    }

    &__img {
        flex: 1;

        img {
            max-width: 100%;
        }
    }

    &__text {
        flex: 3;
        padding-top: 26px;
        padding-bottom: 26px;

        .header-title {
            font-family: Playfair Display;
            font-size: 30px;
            font-weight: 700;
            line-height: 39.99px;
            padding-bottom: 22px;
        }

        .subtext {
            font-family: Helvetica;
            font-size: 16px;
            font-weight: 400;
            line-height: 22.08px;
            padding-bottom: 26px;
        }
    }

    &__flagman {
        display: flex;
        gap: 42px;
        max-width: 731px;
        align-items: flex-start;
        text-align: center;
    }
}

.flagman {
    &-card {
        &__icon {
            padding-bottom: 20px;
        }

        &__text {
            font-family: Helvetica;
            font-size: 16px;
            font-weight: 400;
            line-height: 22.08px;
        }
    }

}

@media screen and (max-width:1330px) {
    .mini-catalog {

        .container {
            padding-left: 20px;
            padding-right: 20px;
        }

        &-content {
            padding: 0;
        }

        &__img {
            flex: 1;
        }

        &__text {
            flex: 1;
        }

    }
}

@media screen and (max-width:850px) {
    .mini-catalog {
        &-content {
            flex-direction: column;
            align-items: center;
        }

        &__img {
            max-width: 100%;
        }

        &__text {
            max-width: 100%;

            .header-title {
                font-family: Playfair Display;
                font-size: 26px;
                font-weight: 700;
                line-height: 30px;
            }

            .subtext {
                font-family: Jost;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
            }
        }

        &__flagman {
            max-width: 100%;
            flex-wrap: wrap;
            align-items: center;
        }
    }

    .flagman {

        &-card {

            width: 100%;

            &__icon {
                max-width: 100%;


            }

            &__text {
                max-width: 100%;
            }
        }
    }
}


@media screen and (max-width:400px) {
    .mini-catalog {

        &__flagman {
            gap: 6px;
            align-items: start;

        }
    }

    .flagman {

        &-card {
            max-width: 45%;
            padding-bottom: 32px;

            &__text {
                font-family: Jost;
                font-size: 16px;
                font-weight: 400;
                line-height: 18px;
                text-align: center;

            }
        }
    }
}

// ========= mini-catalog

.section-title {
    padding-top: 64px;
    padding-bottom: 64px;

    &__line2 {
        @include title2();
    }
}

// ========= line without title

.mini-product {

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 74px;
    }

    &__left {
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 32px;
    }

    &__right {}

    &__card {
        padding: 16px 26.67px;
        text-align: center;
        background-color: #FFFFFF;
        max-width: 221.33px;
    }

    &__text {
        font-family: Helvetica;
        font-size: 16px;
        font-weight: 400;
        line-height: 22.08px;
        padding-bottom: 16px;
    }

    &__btn {
        @include btn();
        box-shadow: 0px 4px 4px 0px #00000040;
        padding-top: 8px;
    }
}

// ========= mini-product

.item-card {

    border-radius: 8px;

    &__img {
        background: none;
        height: 274px;
        width: 136px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    &__title {
        background: none;
        font-family: Helvetica;
        font-size: 12px;
        font-weight: 400;
        line-height: 16.56px;
        padding-top: 16px;
        padding-bottom: 4px;
        color: #CC9D69;
    }

    &__text {
        background: none;
        font-family: Helvetica;
        font-size: 13px;
        font-weight: 400;
        line-height: 22.08px;
        padding-bottom: 17px;
    }

    &__btn {
        font-family: Helvetica;
        font-size: 14px;
        font-weight: 400;
        line-height: 19.32px;
        padding: 4px 12px;
        color: #CC9D69;
        border: 2px solid #CC9D69;
        border-radius: 48px;
        cursor: pointer;
    }
}

@media screen and (max-width:1026px) {
    .mini-product {

        .container {
            padding-left: 20px;
            padding-right: 20px;
        }

        &__content {
            flex-direction: column;
        }

        &__left {
            width: 100%;
            align-items: center;
        }

        &__card {
            max-width: 400px;
        }
    }

    .item-card {

        &__img {
            width: 100%;
        }
    }
}

@media screen and (max-width:760px) {
    .mini-product {

        &__left {
            overflow-x: auto;
            scrollbar-color: $gold transparent;
            scrollbar-width: thin;
        }
    }
}

// ======== mini-product item card

.section-title {
    padding-top: 64px;
    padding-bottom: 64px;

    &__line3 {
        @include title("Каталог");
    }

    &__line4 {
        @include title("Где купить");
    }
}

// ======== line title

.mini-category {
    text-align: center;
    padding-bottom: 64px;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 28.8px;

        &_card {
            max-width: 14.5%;
        }

    }

    &__img {
        width: 100%;
        height: 168px;
        overflow: hidden;
        border-radius: 8px 8px 0 0;

        img {
            width: 192%;

            object-fit: cover;


        }
    }

    &__btn {
        font-family: Helvetica;
        width: 100%;
        font-size: 17px;
        font-weight: 700;
        line-height: 16px;
        padding-top: 8px;
        padding-bottom: 12px;
        background: $liner-gold;
        border-radius: 0 0 8px 8px;
    }
}

@media screen and (max-width:1280px) {
    .mini-category {
        .container {
            padding-left: 20px;
            padding-right: 20px;
        }

        &__content {

            gap: 32px;

            &_card {
                max-width: 31%;
            }

        }

        &__img {
            height: auto;

            img {
                width: 100%;


            }
        }
    }
}

@media screen and (max-width:971px) {
    .mini-category {

        &__content {

            &_card {
                max-width: 30%;
            }

        }
    }
}

@media screen and (max-width:698px) {
    .mini-category {

        &__content {
            gap: 20px;

            &_card {
                max-width: 44%;
            }

        }

        &__img {
            height: 116px;

            img {
                width: 210%;


            }
        }

        &__btn {
            font-family: Jost;
            font-size: 14px;
            font-weight: 400;
            padding-bottom: 8px;
        }
    }
}

// ========= mini category

.mini-where {

    padding-bottom: 64px;

    &_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 3px solid $gold;
        background-color: #EEEEEE;
        border-radius: 20px;
        gap: 16px;
    }

    &__left {
        flex: 2;
        overflow: hidden;
        border-radius: 20px;
        background-color: #EEEEEE;


        img {
            width: 100%;
            height: 433px;
            object-fit: cover;
            background: #EEEEEE;
        }
    }

    &__right {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 24px;
        border-radius: 20px;
        background-color: #EEEEEE;
    }

    &__text {
        font-family: Helvetica;
        font-size: 16px;
        font-weight: 400;
        line-height: 22.08px;
        background-color: #EEEEEE;
    }

    &__btn {
        @include btn();
    }
}

@media screen and (max-width:1024px) {
    .mini-where {
        &__left {

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

@media screen and (max-width:768px) {
    .mini-where {

        &_content {
            flex-direction: column;
            padding: 10px 20px 30px 20px;

        }

        &__text {
            font-family: Jost;
            line-height: 20px;
        }

        &__btn {
            @include btn();
            display: inline-block;
            margin: auto;
            padding: 8px 24px 8px 24px;
        }
    }
}

// ========= mini-where

.footer {

    padding-top: 64px;
    padding-bottom: 66px;
    background-color: $textColor;

    .container {
        background-color: $textColor;
    }

    &-content {
        background-color: $textColor;

        &__bottom {
            padding-top: 32px;
            border-top: 1px solid #FFFFFF;
            background-color: $textColor;
        }

        &__top {
            display: flex;
            justify-content: space-between;
            align-items: start;
            gap: 97px;
            background-color: $textColor;
            padding-bottom: 32px;
        }

    }

    .top-left {
        display: flex;
        justify-content: space-between;
        align-items: start;
        background-color: $textColor;
        gap: 30px;
        flex: 1;

        .footer-content__menu {
            width: 30%;
        }
    }

    .top-right {
        display: flex;
        justify-content: space-between;
        align-items: start;
        background-color: $textColor;
        gap: 20px;
        flex: 1;
    }



    &-bottom_text {
        font-family: Helvetica;
        font-size: 14px;
        font-weight: 400;
        line-height: 19.32px;
        background-color: $textColor;
        color: white;
    }

    .menu-map {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        gap: 8px;
        background-color: $textColor;

        &__item {

            a {
                color: white;
                background-color: $textColor;
                font-family: Jost;
                font-size: 16px;
                font-weight: 400;
                line-height: 23.12px;

            }

        }


    }

    .footer-subs__email {
        background-color: $textColor;
        display: flex;

    }

    .subs-email_input {
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 16px;
        color: #BEBCC5;
        font-family: Helvetica;
        font-size: 16px;
        font-weight: 700;
        line-height: 22.08px;
        width: 206px;
        border: 1px solid $gold;
        border-radius: 4px 0 0 4px;
    }

    .subs-email_btn {
        flex: 1;
        padding: 14px 16px;
        font-family: Helvetica;
        font-size: 16px;
        font-weight: 700;
        line-height: 22.08px;
        background-image: $liner-gold;
        border: 1px solid $gold;
        border-radius: 0 4px 4px 0;
    }

    .contact-phone {
        p {
            background-color: $textColor;
            color: white;
            font-family: Helvetica;
            font-size: 15px;
            font-weight: 400;
            line-height: 22.08px;
        }
    }


    .footer-title_section {
        background-color: $textColor;
        color: $gold;
        font-family: Jost;
        font-size: 14px;
        font-weight: 600;
        line-height: 20.23px;
        padding-bottom: 16px;
        text-transform: uppercase;
    }

    .social-icons {
        background-color: $textColor;

        img {
            background-color: $textColor;
        }

    }
}

@media screen and (max-width: 1232px) {

    .footer {

        &-content {

            &__top {
                gap: 35.67px;
            }
        }

        .footer-content__menu {
            width: 80%;
        }
    }
}

@media screen and (max-width: 1224px) {

    .top-right {
        flex-direction: column;
        width: 35%;
    }

    .footer-content__menu {
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
    .top-left {
        flex-direction: column-reverse;
        width: 100%;

    }

    .top-right {
        width: 100%;

    }

    .footer {

        &-content {
            &__top {

                flex-direction: column;
            }

        }

        .subs-email_input {
            width: 50%;
            font-family: Jost;
            font-size: 16px;
            font-weight: 600;
            line-height: 23.12px;
        }

        .subs-email_btn{
            width: 50%;
        }
    }

    .social-icons {

        img {
            width: 100%;
        }
    }


}