@mixin btn ($px: 24px, $py: 12px, $fsz:18px){
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    background-image: $liner-gold;
    border-radius: 24px;
    cursor: pointer;
}

@mixin title ($title: "", ){
    height: 11px;
    border-top: 3px solid $gold;
    border-bottom: 3px solid $gold;
    position: relative;

    &::after {
        content: $title;
        font-family: Playfair Display;
        font-size: 32px;
        font-weight: bold;
        padding: 0 32px;
        background: $bgGrey;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

@mixin title2 (){
    height: 11px;
    border-top: 3px solid $gold;
    border-bottom: 3px solid $gold;
}